// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//
@import "cocktails.scss";
@import "doses.scss";

.container {
  padding: 30px;
}

.container a {
  color: rgb(250, 250, 200)
}

body {
  color: white;
  background-color: rgba(39, 4, 28, 1);
}
